---
import { getCollection, getEntry } from "astro:content";
import Book from "../components/book.svelte";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const library = await getCollection("library");
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="p-8 flex">
      {
        library.slice(0, 1).map(({ data, id }) => {
          return (
            <>
              <Book client:idle book={data}>
                <Image
                  class="absolute w-[calc(var(--width)*1px)] h-[calc(var(--height)*1px)] book-cover-front pointer-events-none"
                  src={data.image}
                  alt={`Cover for ${data.title}`}
                />
              </Book>
            </>
          );
        })
      }
    </div>
  </body>
</html>

<style>
  .book-cover-front {
    transform: rotateY(0deg) translateZ(50px);
  }
</style>
