---
import { getCollection, getEntry } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const library = await getCollection("library");
import { Image } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="p-8 flex">
      {
        library.map(({ data, id }) => {
          return (
            <div class="w-auto flex flex-col justify-center border p-1">
              <h2>{data.title}</h2>
              <Image
                class="h-44 w-auto"
                src={data.image}
                alt={`Cover for ${data.title}`}
              />
            </div>
          );
        })
      }
    </div>
  </body>
</html>
