<div>
  <slot />
</div>

<style>
  div {
    width: 100%;
    min-height: 100vh;
    background-color: #cc8800;
    background-image: url(/wood-pattern.png);
    background-repeat: repeat;
  }
</style>
